:root {
    --cyan: #66E2DC;
    --orange: #FA7453;
    --yellow: #FFB964;
    --white: #FCFAF9;
    --black: #191826;

    --text-base: 1rem;
    --text-main: 1.125rem;
    --text-btn: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 2rem;
    --text-2xl: 2.5rem;
    --text-3xl: 4.063rem;

    --line-h1: 48px;
    --line-16: 26px;
    --line-18: 28px;
    --line-20: 34px;

    @media(width >= 40em) {
        --text-2xl: 4rem;

        --line-h1: 1;
    }

    @media(width >= 64em) {
        --text-main: 1.25rem;
        --text-2xl: 5.5rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background: var(--white);
    color: var(--black);
}

.container {
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: top right / contain no-repeat url(../assets/bg-main-mobile.png);
        inset: 0;
        top: -15%;
        right: -50%;
        z-index: -2;
    }

    @media (width >= 40em) {
        &::before {
            background: no-repeat url(../assets/bg-main-tablet.png);
            top: -15%;
            left: -50%;
            z-index: -2;
        }

        &::after {
            content: url(../assets/bg-pattern-1.svg);
            transform: scale(0.8);
            position: absolute;
            top: -75px;
            right: -55px;
            z-index: -1;
        }
    }

    @media (width >= 64em) {
        &::before {
            background: no-repeat url(../assets/bg-main-desktop.png);
            background-size: 80% auto;
            top: -20%;
            left: -20%;
            z-index: -2;
        }

        &::after {
            content: url(../assets/bg-pattern-1.svg);
            transform: scale(1);
            position: absolute;
            top: -40px;
            right: 0;
            z-index: -1;
        }
    }
}

header,
.hero,
footer {
    margin: 24px;

    & .logo {
        max-width: 147px;
        max-height: 32px;
    }

    @media (width >= 40em) {
        margin: 24px 40px 80px;
    }

    @media (width >= 64em) {
        max-width: 1110px;
        margin: 24px auto 90px;
    }
}

header {
    padding-block: 36px;
}

.hero {
    & h1 {
        font-size: var(--text-2xl);
        line-height: var(--line-h1);
        letter-spacing: -0.45px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    & p {
        font-size: var(--text-base);
        line-height: var(--line-16);
    }

    @media (width >= 40em) {
        & h1 {
            max-width: 75%;
            margin-bottom: 28px;
            letter-spacing: -0.73px;
        }

        & p {
            font-size: var(--text-main);
            width: 47ch;
        }
    }

    @media (width >= 64em) {
        margin-bottom: 0;

        & h1 {
            max-width: 90%;
            margin-bottom: 28px;
            letter-spacing: -0.73px;
        }

        & p {
            line-height: var(--line-20);
            width: 70ch;
        }
    }
}

.content {
    --content-padding: 44px;
    --img-height: 430px;

    display: grid;
    place-items: center;
    position: relative;
    padding-block: var(--content-padding);

    & img {
        height: var(--img-height);
        max-width: 312px;
    }

    &::before {
        content: '';
        display: grid;
        justify-content: center;
        background: top -30px center / 280px 420px no-repeat url(../assets/bg-pattern-2.svg) var(--black);
        border-radius: 12px;
        inset: 0;
        margin-block: 98px;
        position: absolute;
        z-index: -1;
    }

    @media (width >= 40em) {
        --img-height: 556px;
        --content-padding: 60px;

        padding: var(--content-padding);
        margin: 0 35px;
        grid-template-rows: calc(var(--img-height) / 2);

        & img {
            place-self: flex-start;
        }

        &::before {
            margin-block: calc(138px + var(--content-padding)) calc(96px + var(--content-padding));
        }
    }

    @media (width >= 64em) {
        --img-height: 642px;
        --content-padding: 100px;

        grid-template-rows: calc(var(--img-height) / 2.5);
        max-width: 1110px;
        margin: 0 auto;

        &::before {
            margin-block: calc(213px + var(--content-padding)) calc(115px + var(--content-padding));
            background-position: top -40px left 336px;
        }
    }
}

.premium {
    margin-top: 48px;
    background: var(--orange);
    border-radius: 12px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 48px 36px;
    gap: 12px;
    max-width: 400px;

    & h2 {
        font-size: var(--text-xl);
        font-weight: 700;
    }

    & p {
        font-size: var(--text-main);
        line-height: var(--line-18);
    }

    & h3 {
        font-size: var(--text-lg);
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 16px;

        & span {
            font-size: var(--text-3xl);
            font-weight: 700;
        }
    }

    & button {
        border: none;
        padding-block: 15px;
        border-radius: 12px;
        font-size: var(--text-btn);
        font-weight: 700;
        letter-spacing: -0.18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-family: inherit;
        transition: background 0.5s ease;

        &.apple {
            background: var(--black);
            color: var(--white);

            &::before {
                content: url(../assets/icon-apple.svg);
            }

            &:hover,
            &:focus {
                background: var(--cyan);
            }
        }

        &.android {
            &::before {
                content: url(../assets/icon-android.svg);
                transform: translateY(2px);
            }

            &:hover,
            &:focus {
                background: var(--yellow);
            }
        }
    }

    @media (width >= 40em) {
        place-self: flex-end;
        padding: 48px;
        gap: 16px;

        & p {
            line-height: var(--line-20);
        }
    }

    @media (width >= 64em) {
        padding: 57px;
        max-width: 446px;

        & h2 {
            margin-bottom: 6px;
        }

        & h3 {
            margin-bottom: 30px;
        }
    }
}

footer {
    & section {
        margin-block: 32px 80px; 
        display: flex;
        flex-direction: column;
        gap: 64px;
        font-size: var(--text-base);
        line-height: var(--line-16);
        font-weight: 400;

        & a {
            text-decoration: none;
            color: var(--black);
            font-weight: 700;
        }
    }

    @media (width >= 40em) {
        & section {
            flex-direction: row;
            justify-content: space-between;

            & p {
                max-width: 40ch;
            }
        }
    }

    @media (width >= 64em) {
        display: flex;
        gap: 136px;

        & section {
            margin: 0;
            width: 100%;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    
    & .icon path {
        transition: fill 0.5s ease;
    }

    & .icon:hover path,
    & .icon:focus path {
        fill: var(--orange)
    }
}